*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    background: linear-gradient(to right, rgb(228, 228, 64), rgb(255, 187, 245));
}
.noSelect {
    outline: none;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.title{
    position: absolute;
    top:50px;
    font-size: 30px;
    text-shadow: 0 0 2px black;
}
.footer{
    position: absolute;
    bottom:0px;
    background: rgba(0,0,0,0.7);
    width: 100%; 
    text-align: center;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.link{
    color:white;
    font-size: 19px;
    text-decoration: none;
}
.link:hover{
    color:greenyellow;
}
.a1{
    color:red;
}
.a2{
    color:green;
}
.a3{
    color:lightseagreen;
}
.a4{
    color:blueviolet;
}
.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bigurl{
    width: 400px;
    height:45px;
    border-radius: 30px;
    padding:10px;
    margin-bottom: 40px;
    font-size: 17px;
}
.submit{
    width:160px;
    background: green;
    color:white;
    height:48px;
    border-radius: 80px;
    box-shadow: 0 0 11px black;
}
.headlabel{
    color:blue;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 100;
}
.nounderline{
    text-decoration: none;
}
.error{
    margin-bottom: 20px;
    font-weight: 100;
}